A.ag_pop
{

	position:relative;
	text-decoration: none;
	font-weight: bold;

}

A:hover.ag_pop
{

	text-decoration: none;
	background: none;

}

A.ag_pop span
{

	display: none;

}

A:hover.ag_pop span
{

	display: inline;
	text-align:left;
	position: absolute;
	bottom:1em;
	left:0em;
	z-index: 20;
	background: #FEE5B3;
	color: #000;
	border:1px solid #000;
	width:160px;
	font-weight:bold;
	font-size: 15px;
	line-height:20px;
	padding:10px;

}

.ag_une
{

	background: #e0f9d7;
	color: #000;
	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight: bold;
	text-align:center;text-decoration: none;
	padding:3px;
	margin:0px;
	border: #97D52C 1px solid;

}
.ag_vide
{

	background-color:#ECE9D8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;

}

.ag_reserve
{

	background-color:#FF9999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;
	font-weight: bold;

}

.ag_ferie
{

	background-color:#f4b6f0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;
	font-weight: bold;

}

.ag_libre
{

	background-color:#EFEAB5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;
	font-weight: bold;

}

.ag_jours
{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #DDDACA;
	color: #000;
	font-weight: bold;

}